@use './variables' as *;
.pagination {
  text-align: center;
  margin: 20px 0;
  user-select: none;
  
  .pagination__item {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0 2px;
    font-size: $font-size-sm; 
    font-weight: $font-weight-normal;
    color: $text-secondary-color;
    background: $white;
    border: 1px solid transparent;
    cursor: pointer;
    &--active {
      border-color: $blue;    
      font-size: $font-size-base;  
      font-weight: $font-weight-semibold; 
      color: $text-color;
    }
  }
  .pagination__next {
    display: inline-block;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $text-secondary-color;
    margin: 0 4px 0 8px;
  }
}